.quest-toolbar {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    margin-bottom: 18px
}

.quest-toolbar>div {
    display: flex;
    gap: 6px;
    flex-wrap: wrap
}

.quest-filter {
    padding: 8px 11px;
    background: #0f0e12;
    color: #716a77;
    border: 1px solid var(--line);
    font-size: 7px;
    letter-spacing: .7px
}

.quest-filter.active {
    color: #c070ff;
    border-color: rgba(168, 64, 255, .35);
    background: #17101f
}

.quest-toolbar input {
    width: 240px;
    background: #0d0c10;
    border: 1px solid var(--line);
    color: #eee;
    padding: 9px 11px;
    font-size: 8px;
    outline: 0
}

.quest-toolbar input:focus {
    border-color: rgba(168, 64, 255, .5)
}

.quest-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.quest-card {
    min-height: 285px;
    padding: 19px;
    background: linear-gradient(145deg, rgba(20, 16, 26, .94), rgba(10, 10, 13, .94));
    border: 1px solid var(--line);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden
}

.quest-card:after {
    content: "";
    position: absolute;
    right: -35px;
    top: -35px;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(168, 64, 255, .07);
    transform: rotate(45deg)
}

.quest-card:hover {
    border-color: rgba(168, 64, 255, .35);
    transform: translateY(-2px);
    transition: .2s
}

.quest-card.completed {
    opacity: .55
}

.quest-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.quest-icon {
    font-size: 23px;
    color: #c26fff
}

.quest-type {
    font-size: 6px;
    color: var(--gold);
    letter-spacing: 1.2px
}

.quest-card h3 {
    font: 700 16px Cinzel;
    margin: 18px 0 8px
}

.quest-card p {
    font-size: 8px;
    line-height: 1.7;
    color: #746d79
}

.quest-meta {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 13px 0 11px;
    border-top: 1px solid var(--line);
    font-size: 7px;
    color: #6d6673
}

.quest-meta b {
    color: #b86aff
}

.quest-card button {
    padding: 10px;
    border: 1px solid rgba(168, 64, 255, .25);
    background: #171020;
    color: #ba68ff;
    font-size: 7px;
    letter-spacing: 1px;
    font-weight: 800
}

.quest-card button:hover {
    background: #21132e
}

.quest-card button.done {
    color: #5e5964;
    border-color: var(--line);
    background: #121116
}